/* Pàgina de perfil */

body {
  background-color: white;
  background-color: rgb(60, 60, 79);
}
.container-perfil {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.container-img-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}

.div-perfil {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid black;
  width: 650px;
  height: 620px;
  border-radius: 10px;
  background-color: rgb(203, 201, 201);
}
.titol-perfil {
  font-family:'Times New Roman', Times, serif;
  font-size: 50px;
  text-align: center;
}

.div-imatge-perfil {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  border-radius: 80px;
}

.dades-perfil {
  display: flex;
  flex-direction: column;
  text-align: start;
  list-style-type: none;
  margin: 10px;
  margin-top: 60px;
  gap: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.boto-pujar-img {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  background-color: aquamarine;
  transition-duration: 0.4s;
  cursor: pointer;

}

.boto-pujar-img:hover {
  background-color: rgb(111, 221, 185);
  color: white;
}


.icona-editar {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  cursor: pointer;
}


/* Pàgina de restablir contrasenya */

.container-reset-password {
  display: flex;
  justify-content: center;
  margin: 60px;
}
.div-reset-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 30px;
  width: 800px;
  height: 300px;
  background-color: rgb(203, 201, 201);
}

.botons-reset-password {
  display: flex;
  gap: 80px;
  padding: 50px;
  margin-top: 50px;
}

.botons-reset-password button {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  width: 90px;
  height: 30px;
  border-radius: 5px;
  background-color: aquamarine;
  transition-duration: 0.4s;
  cursor: pointer;
}

.botons-reset-password button:hover {
  background-color: rgb(111, 221, 185);
  color: white;
}


.div-reset-password input {
  border-radius: 5px;
  width: 200px;
  height: 20px;
}

.password-ocult {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;

}

/* Pàgina de reviews */

.container-principal-reviews {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 1px;
  margin-top: 100px;
}

.div-reviews {
  display: flex;
  gap: 20px;
  margin: 100px;

}

.div-reviews img {
  width: 600px;
  height: 300px;
  border-radius: 5px;
  margin: -50px;
}

.container-descripcio {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -530px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(203, 201, 201);
}

.titol-review {
  grid-area: el1;
  font-family:'Times New Roman', Times, serif;
  font-size: 50px;
  color: black;
}

.img-review {
  grid-area: el2;
  border: 1px solid black;
  border-radius: 7px;
}

.sinopsis {
  grid-area: el3;
}

.plataforma {
  grid-area: el4;
}

.tipus {
  grid-area: el5;
}

.div-botons-review {
  grid-area: el6;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.div-descripcio {
  display: grid;
  grid-template-areas:'el2 el1'
                      'el2 el3'
                      'el2 el4'
                      'el2 el5'
                      'el2 el6';
  grid-template-columns: auto auto;
  padding: 25px;
  gap: 30px 200px;
}


.div-descripcio p {
  width: 500px;
  text-align: justify;
  color: black;
}



.div-botons-review button {
  background-color: aquamarine;
  transition-duration: 0.4s;
  cursor: pointer;
}

.div-botons-review button:hover {
  background-color: rgb(111, 221, 185);
  color: white;
}

.div-descripcio button {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  width: 140px;
  height: 30px;
  border-radius: 5px;
}



.subtitol-review {
  font-family:'Times New Roman', Times, serif;
  font-size: 35px;
  text-align: flex-start;
  margin: 80px;
}

.div-ressenya {
  display: flex;
  list-style-type: none;
  border: 1px solid black;
  border-radius: 5px;
  width: 500px;
  height: 180px;
  padding: 5px;
}

.container-cardRessenya {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 500px;
  height: 175px;
  background-color:darkkhaki;
}

.container-ressenya {
  display: flex;
  flex-direction: column;
  gap: 50px;
}


.container-cardRessenya p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: black;
}

.ressenyes-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-top: -80px;
}

.ul-donacions {
  list-style-type: none;
  border: 1px solid black;
  width: 500px;
  height: 175px;
  border-radius: 5px;
  padding: 5px;
  background-color:tan;
}

.ul-donacions li {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.donacions-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -500px;
  gap: 10px;
  padding: 20px;
}

.subtitol-donacions {
  font-family:'Times New Roman', Times, serif;
  font-size: 35px;
  margin: 80px;
  margin-left: -45px;
}

.subtitols-reviews {
  display: flex;
  flex-direction: row;
  gap: 500px;
  color: white;
}

.overlayStyle {
  display: flex;
  position: fixed;
  background-color: grey;
  align-items: center;
  justify-content: flex-start;
}

.modalStyle {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}



/* Pàgina afegir ressenya */

.div-afegir-ressenya {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  margin: 120px;
  margin-left: 420px;
  margin-top: 285px;
  gap: 20px;
  border: 1px solid black;
  background-color: cornflowerblue;
  width: 350px;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);

}

.ocultat {
  visibility: hidden;
}

.div-afegir-ressenya p {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.div-afegir-ressenya textarea {
  border-radius: 7px;
}

.input-rating {
  border-radius: 5px;
}

.botons-afegir-review {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.botons-afegir-review button {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  width: 78px;
  height: 25px;
  border-radius: 5px;
  background-color: aquamarine;
  transition-duration: 0.4s;
  cursor: pointer;
}

.botons-afegir-review button:hover {
  background-color: rgb(111, 221, 185);
  color: white;
}
