/* --- ESTILOS DEL MODAL (AUTH) --- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal-content {
  background: #fff;
  padding: 40px;
  width: 100%;
  max-width: 360px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
  border-bottom: 2px solid #eee;
}

.tabs button {
  background: none;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(0, 0, 0); 
  transition: all 0.3s ease;
  font-size: 16px;
}

.tabs button.active {
  color: #75759b; 
  border-bottom: 3px solid #75759b;
}

.tabs button:hover {
  color: #75759b;
}

.auth-input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn-yellow {
  background: #75759b; 
  color: rgb(0, 0, 0); 
  border: none;
  width: 100%;
  padding: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 16px;
  transition: all 0.3s ease;
}

.btn-yellow:hover {
  color: rgb(255, 255, 255); 
  background-color: #5e5e80; 
}

.close-btn {
  top: 10px;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

