.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #75759b;
}

.logo {
  color: rgb(0, 0, 0);
  margin: 0;
}

.botones {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 0;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  color: rgb(255, 255, 255);
}

.btn.active {
  color: rgb(255, 255, 255);
}